@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-display {
  font-family: 'Syne', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #4d0303;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #760404;
}
